
.Note {
  --note-height: 120px;
  background-color: #27292c;
  color: lightgrey;
  height: var(--note-height);
  margin-bottom: 8px;
  width: 100%;
  padding: 8px 0 8px 8px;
  position: relative;
}

.NoteDelete {
  background-color: #27292c;
  border: 0;
  color:  #b5b3b3;
  float: right;
  font-size: 12px;
}
.NoteDelete:hover {
  background-color: red;
  color: white;
  cursor: pointer;
  font-weight: bold;
}
.NoteModified{
  color: rgb(238, 213, 101);
  opacity: 0.7;
}

.NoteTitle {
  color:  #b5b3b3;
  font-size: 20px;
  margin: 0;
  max-width: 80%;
  min-height: 24px;
}
.NoteTitle a {
  color:  #b5b3b3;
  display: block;
  text-decoration: none;
}
.NoteTitle a:hover {
  color:  rgb(238, 213, 101);
}

.NoteDates {
  bottom: 8px;
  color: grey;
  font-size: 14px;
  position: absolute;
}
